page-login {
	.ion-boxify {
		height: auto;
	}
	// this is for welcome screen
	.boxify-container {
		height: calc(100vh);
		.normal {
			font-size: 1em !important;
		}
		.large {
			* {
				font-size: 1.3em;
			}
		}
		.larger {
			* {
				font-size: 2em;
			}
		}
		.x-large {
			* {
				font-size: 3em;
			}
		}
		.row {
			* {
				color: #fff;
				line-height: 0.8em;
			}
			height:34%;
			.col {
				display: flex;
				justify-content: left;
				align-items: center;
				padding-left: 10%;
			}
			.col-center {
				justify-content: center;
			}
		.welcome-text {
				// padding: 2em 2em;
			}
			.boxify-action {
			}
			&.welcome {
				@extend .large;
				background-color: $positive;
				//box-shadow: inset 0px 5px 0px -0px rgba(255,122,51,1);
			}
			&.chat {
				// padding: 15% 5%;
				@extend .larger;
				@extend .dark-blue-5;
			}
			&.call {
				// padding: 15% 5%;
				@extend .larger;
				@extend .darker-blue-10;
			}
		}
	}

	.card-background-page {

  ion-card {
    position: relative;
    text-align: center;
  }

  .card-title {
    position: absolute;
    top: 36%;
    font-size: 2.0em;
    width: 100%;
    font-weight: bold;
    color: #fff;
  }

  .card-subtitle {
    font-size: 1.0em;
    position: absolute;
    top: 52%;
    width: 100%;
    color: #fff;
  }

  .card-icon {
  	position: absolute;
  	font-size: 3em;
  	bottom: 3%;
  	right: 8%;
  	color: white;
  }

  .normalize {
  	text-align: left;
  	box-shadow: none;
  	padding: 1em 0;
  }

}
}
