<ion-header>
  <ion-navbar>
    <ion-title>Overview</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <ion-card *ngIf="loggedIn">
    <ion-card-header>
      <ion-icon name="medical" item-left></ion-icon>
      My Insurance Policies
    </ion-card-header>

    <ion-list>
      <button ion-item *ngFor="let item of currentPolicies" (click)="goToPage(item)">
        <ion-icon name="{{item.icon}}" item-left></ion-icon>
        {{item.name}}
       </button>
     </ion-list>
   </ion-card>

  <ion-card>
    <ion-card-header>
      <ion-icon name="medical" item-left></ion-icon>
      Offerings
    </ion-card-header>

    <ion-list>
      <button ion-item *ngFor="let item of offerings" (click)="goToPage(item)">
        <ion-icon name="{{item.icon}}" item-left></ion-icon>
        {{item.name}}
       </button>
     </ion-list>
   </ion-card>

</ion-content>
