<ion-header>
  <ion-navbar>
    <ion-title>{{data.name}}</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>

    <ion-card *ngFor="let coverage of coverages">
        <ion-card-header>
            <ion-icon name="medkit" item-left></ion-icon>
            {{coverage.DisplayName}}
        </ion-card-header>

        <ion-list>
            <ion-item *ngFor="let terms of coverage.CovTerms" text-wrap>
                <ion-row>
                	<ion-col><p>{{terms.DisplayName}} <br><span *ngIf="terms.Pattern.Required == true" ion-text color="danger">*Required</span></p></ion-col>
                	<ion-col><p>{{terms.DisplayValue}}</p></ion-col>
                </ion-row>
            </ion-item>
        </ion-list>
    </ion-card>

</ion-content>

